@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5 bg-image">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-6 p-3">
            <h1 class="display-5 fw-bold mb-3">
                Manage All Your Contacts In One Place
            </h1>
            <h4 class="lead">A simple, fast, and scalable address book that helps you manage your contacts easily so you never lose contact information.</h4>
            <a type="button" href="/app.html" class="btn btn-outline-primary btn-lg">
                Try It Out
            </a>
            <h5 class="mt-3">Built With</h5>
            <div class="d-flex">
                <div class="row">
                    <div class="col">
                        <img src="img/Icons/dotnet-logo.png" class="dotnetIcon img-fluid" alt="dotnet icon">
                    </div>
                    <div class="col">
                        <img src="img/Icons/cSharpLogo.png" class="cSharpIcon img-fluid" alt="C# icon">
                    </div>
                    <div class="col">
                        <i class="jsIcon fab fa-js-square fa-5x"></i>
                    </div>
                    <div class="col">
                        <i class="bsIcon fab fa-bootstrap fa-5x"></i>
                    </div>
                    <div class="col">
                        <i class="htmlIcon fab fa-html5 fa-5x"></i>
                    </div>
                    <div class="col">
                        <i class="cssIcon fab fa-css3 fa-5x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 order-first order-md-last d-flex align-items-center justify-items-center">
            <img src="img/logos/HomePageLogo.png" class="img-fluid" alt="address book logo">
        </div>
    </div>
</div>